<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDoSomethingRemote" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:30481/DoSomethingRemote.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoSomethingRemote"
                contract="IDoSomethingRemote" name="BasicHttpBinding_IDoSomethingRemote" />
        </client>
    </system.serviceModel>
</configuration>